[Unit]
Description=pibridgecli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=pibridged
Group=pibridged
PermissionsStartOnly=true
ExecStart=/usr/bin/pibridgecli rest-server --laddr {{PBRIDGECLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

